body {
  background: lightblue;
}
h1, h2{
    color:olive
}
h3{
    text-align:;
  color:blue;
}

.navigation .navbar-brand{
color: white;
margin-left: 30px;
padding: inherit;
font-weight: bold;
background-color: #0BADA6;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
background-color: white;
font-size: 15px;
max-height: 57px;
}/* Body */

/* Navbar */
.navbar{
max-height: 57px;
}
body{
background-color: #EDEDED;
}
/* Navbar */




  .navbar li {
     display: d-block;
     padding: 10px;
     margin-right: 0px;
     margin-left: 0px;
     cursor: pointer;
   }
.nav class{

 color: rgb(81, 255, 0);
  #text-decoration-color: red;
  
}
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }
  .navbar ul {
    visibility: hidden;
  }
  #nav-select {
    visibility: visible;
  }
}
  .navbar brand{
     padding:0px; 
     margin-right: 0px;
     margin-left: 0px;
     margin-top: 0px;
     padding: 10px;
     background: #5D6D7E;
 }
 .box{
  padding: 10px 20px 15px;
  background: white;
  margin-top:60px;
  margin-left:40px;
  margin-right:10px;
  margin-bottom:62px;
  align-content: center;
}
.box2{
 /* padding: 10px;*/
  background:pink;
  margin-top:50px;
  margin-left:100px;
  margin-right:10px;
  margin-bottom:20px;
  align-content: center;
}

.container-fluid{
    background: pink;
}
.title{
    text-decoration-color: olivedrab;
}
/* Footer */
footer{
  background-color: #666666; 
  border-top-style: solid; 
  border-top-width: 5px; 
  border-top-color: #0BADA6;
  color: white; 
  min-height: 55px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; 
  text-align: center; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px; 
  }

  /* Images */
/*img{
  width:75% ;
  height:75% ;*/
}
.active, .panel:hover{
  border-color:#0BADA6;
  border-style: solid; 
  
}
/*.vizualization{
  width:50% ;
  height:50% ;*/
}
.ml-3, .mx-3 {
  margin-left: 1rem !important;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
}
